/**************************** Police Raleway ensemble de site web **********************/

* {
    font-family: 'Raleway', sans-serif;
}

.dateHeure {
    color: #164194;
}

.header {
    height: 150px;
    width: 350px;
}


/***************************** Footer *****************************/

#footer {
    background-color: #DADADA;
    color: #164194;
}


/****************************** Les Buttons ******************************/

.btnDecon {
    color: #e62d20;
}

#btnModif {
    color: #ffcc00;
}

#btnSupp {
    color: #e62d20;
}

#btnValider {
    margin-top: 15%;
    font-size: 16px;
}


/* .partieHaut {
    margin-bottom: 5%;
    margin-top: 0%;
}
 */


/****************************** Titre des pages ******************************/

.titreUtilisateur {
    color: #164194;
    font-size: 35px;
}

#titreAjoutEngin,
#titreModifEngin,
#titreTdb,
#titreDebutSession,
#titreFinSession {
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #164194;
}


/****************************** THeader de la tableau de bord ******************************/

.q-table th {
    font-weight: bold;
}


/****************************** Les Formulaires de CRUD ******************************/

.formAjoutEng,
.formModifEng,
.tdb {
    text-align: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 768px) {
    .formAjoutEng,
    .formModifEng,
    .tdb {
        margin-left: 5%;
        margin-right: 7%;
    }
}